@*
    線上商城首頁 - 遊戲商品與服務
*@
@{
    ViewData["Title"] = "線上商城";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-4">線上商城</h1>
            <p class="text-muted">購買遊戲點數、裝備、道具等各種商品，提升您的遊戲體驗！</p>
            
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">遊戲點數</h5>
                            <p class="card-text">購買遊戲內點數，用於各種消費。</p>
                            <button class="btn btn-primary">購買點數</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">裝備道具</h5>
                            <p class="card-text">購買各種裝備和道具，提升角色能力。</p>
                            <button class="btn btn-primary">瀏覽裝備</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">禮包優惠</h5>
                            <p class="card-text">限時優惠禮包，超值組合商品。</p>
                            <button class="btn btn-primary">查看禮包</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>