@*
    小遊戲首頁 - 史萊姆冒險遊戲
*@
@{
    ViewData["Title"] = "小遊戲首頁";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-4">史萊姆冒險遊戲</h1>
            <p class="text-muted">與您的史萊姆寵物一起進行冒險，挑戰各種關卡，獲得經驗值和獎勵！</p>
            
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">開始冒險</h5>
                            <p class="card-text">選擇您的史萊姆寵物，開始新的冒險旅程。</p>
                            <button class="btn btn-primary">開始遊戲</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">寵物狀態</h5>
                            <p class="card-text">查看您的史萊姆寵物的當前狀態和屬性。</p>
                            <button class="btn btn-secondary">查看狀態</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>