@{
    ViewData["Title"] = "Forum Home";
}

<div class="container mt-4">
    <h1>Forum Home</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5>Latest Discussions</h5>
                </div>
                <div class="card-body">
                    <p>Forum functionality under development...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Hot Topics</h5>
                </div>
                <div class="card-body">
                    <p>Hot topics functionality under development...</p>
                </div>
            </div>
        </div>
    </div>
</div>
