@*
    社交中心首頁 - 社群互動
*@
@{
    ViewData["Title"] = "社交中心";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-4">社交中心</h1>
            <p class="text-muted">與其他玩家交流、聊天、分享遊戲心得，建立您的遊戲社交圈！</p>
            
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">即時聊天</h5>
                            <p class="card-text">與其他玩家進行即時聊天交流。</p>
                            <button class="btn btn-primary">開始聊天</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">好友系統</h5>
                            <p class="card-text">添加好友，建立您的遊戲社交網絡。</p>
                            <button class="btn btn-primary">管理好友</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">群組功能</h5>
                            <p class="card-text">創建或加入群組，與志同道合的玩家交流。</p>
                            <button class="btn btn-primary">瀏覽群組</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>