@{
    ViewData["Title"] = "商城首頁";
}

<div class="container mt-4">
    <h1>商城首頁</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>商品分類</h5>
                </div>
                <div class="card-body">
                    <p>商城功能開發中...</p>
                </div>
            </div>
        </div>
    </div>
</div>
