@{
    ViewData["Title"] = "GameSpace - 遊戲社群平台";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">歡迎來到 GameSpace</h1>
            <p class="lead">一個整合遊戲討論、寵物養成、簽到獎勵、商城交易的綜合性遊戲社群平台</p>
            
            @if (ViewBag.UserCount != null)
            {
                <div class="alert alert-info">
                    <h4>平台統計</h4>
                    <p>目前註冊用戶數：<strong>@ViewBag.UserCount</strong></p>
                </div>
            }
            
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-warning">
                    <p>系統提示：@ViewBag.Error</p>
                </div>
            }
            
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> 遊戲論壇</h5>
                            <p class="card-text">與其他玩家討論遊戲心得、分享攻略、交流經驗</p>
                            <a href="#" class="btn btn-primary">進入論壇</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> 寵物養成</h5>
                            <p class="card-text">飼養可愛的史萊姆寵物，透過互動提升寵物等級</p>
                            <a href="#" class="btn btn-primary">我的寵物</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> 官方商城</h5>
                            <p class="card-text">購買遊戲周邊、數位商品，使用點數兌換優惠券</p>
                            <a href="#" class="btn btn-primary">進入商城</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
