@*
    論壇首頁 - 遊戲討論區
*@
@{
    ViewData["Title"] = "論壇首頁";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-4">遊戲論壇</h1>
            <p class="text-muted">歡迎來到遊戲討論區，在這裡您可以分享遊戲心得、尋求攻略幫助，或與其他玩家交流。</p>
        </div>
    </div>
</div>