@*
    會員管理首頁 - 會員中心
*@
@{
    ViewData["Title"] = "會員中心";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-4">會員中心</h1>
            <p class="text-muted">管理您的會員資料、查看積分、管理寵物等各種會員功能。</p>
            
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">個人資料</h5>
                            <p class="card-text">查看和編輯您的個人資料資訊。</p>
                            <button class="btn btn-primary">編輯資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">積分錢包</h5>
                            <p class="card-text">查看您的積分餘額和交易記錄。</p>
                            <button class="btn btn-primary">查看錢包</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>